# Secrets
.env
.env.local
.credentials/
*secret*
*.key

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Build / deps
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
